{% extends "base.html" %} {% load staticfiles %}
{% block extrahead %}
<link href="{% static 'css/data.css' %}" rel="stylesheet"/>

{% endblock %}
{% load bootstrap_tags %} {% block content %}
{% block row_header %}
<div class="row header">
    <div class="row">
        <div class="col-xs-0 col-sm-0 col-md-4 col-lg-2 text-right">

            <img src="{% static 'img/insights/' %}{{ sector_strings.1 }}-medium.jpg" class="img responsive img-header">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
            <div class="row summary">
                <div class="box">
                    <h5>{{sector_strings.0 }} Listing </h5>
                </div>

                <h6>Sector Companies: <b class="counter">{{count}}</b></h6>


            </div>
        </div>
    </div>
</div>
<div class="row row-message">
    {% if messages %} {% for message in messages %} {% if message.tags == "success" %}
    <div class="alert alert-success">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% endif %} {% endfor %}
    {% else %}

    {% endif %}
</div>
{% endblock %}

<div class="dashboard-cards">


    <div class="row row-cards">

        {% for element in sector_companies %}
        <div class="col-md-4">
            <div class="card company-card">
                <div class="card-header">
                    <div class="card-image">
                        <img src="{{ element.squareLogoUrl }}"
                             class="img responsive">
                    </div>
                    <div class="card-title text-left">
                        <h5>{{element.name|truncatechars:40}}</h5>
                        <table class="table table-company">
                            <tbody>
                            <tr>
                                <td>Co. Type:</td>
                                <td><b>{{ element.companyType }}</b></td>
                            </tr>
                            <tr>
                                <td>Industry:</td>
                                <td><b>{{ element.industries }}</b></td>
                            </tr>
                            <tr>
                                <td>Employees:</td>
                                <td><b>{{ element.employeeCountRange }}</b></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-content">
                    <p>{{ sector_strings.0 }} established in {{ element.foundedYear }}.<br> {{element.name|truncatechars:40}} specializes in: {{ element.specialties|truncatechars:160 }}</p>
                    <br>
                    <td>Website:  </td>
                    <td><b class="company_website">{{ element.websiteUrl|truncatechars:40 }}</b></td>
                </div>

            </div>
        </div>
        {% endfor %}

    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large">
        <i class="large material-icons">menu</i>
    </a>
    <ul>

        <li><a class="btn-floating" href="{% url 'insights:companies' sector='finance' %}"><i class="material-icons">attach_money</i></a>
        </li>
        <li><a class="btn-floating" href="{% url 'insights:companies' sector='it' %}"><i
                class="material-icons">computer</i></a></li>
        <li><a class="btn-floating" href="{% url 'insights:companies' sector='education' %}"><i class="material-icons">school</i></a>
        </li>
        <li><a class="btn-floating" href="{% url 'dashboard:dashboard' %}"><i class="material-icons">exit_to_app</i></a>
        </li>
    </ul>
</div>


<script>
    jQuery(document).ready(function($) {
        $('.counter').counterUp({
            delay: 10,
            time: 400
        });
    });





</script>


<script>
var ncx = document.getElementById('typeChart').getContext('2d');
var typeChart = new Chart(ncx, {
    // The type of chart we want to create
    type: 'bar',
    // The data for our dataset
    data: {
        labels: [{% for key, value in type_dict.items %}
                    "{{key}}",
                {% endfor %}],
        datasets: [{
            data: [{% for key, value in type_dict.items %}
                    "{{value}}",
                   {% endfor %}],
            backgroundColor: [
            '#4e79a7',    // color for data at index 0
            '#f28e2b',   // color for data at index 1
            '#e15759',  // color for data at index 2
            '#76b7b2', // color for data at index 3
            '#59a14f', // color for data at index 3
            '#edc948', // color for data at index 3
            //...
        ],
        }]
    },
    // Configuration options go here
    options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: { display: false },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
             xAxes: [{
                gridLines: {
                    color: "rgba(0, 0, 0, 0)",
                }
            }],
        yAxes: [{
            display: true,
            gridLines: {
                    color: "rgba(0, 0, 0, 0)",
                },
            ticks: {
                suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                // OR //
                beginAtZero: true   // minimum value will be 0.
            }
        }]
    }
    }
});











</script>

<script>
var pcx = document.getElementById('followersChart').getContext('2d');
varfollowersChart = new Chart(pcx, {
    // The type of chart we want to create
    type: 'bar',
    // The data for our dataset
    data: {
        labels: [{% for key, value in followers_dict.items %}
                    "{{key}}",
                {% endfor %}],
        datasets: [{
            label: 'asd',
            data: [{% for key, value in followers_dict.items %}
                    "{{value}}",
                   {% endfor %}],
            backgroundColor: [
            '#4e79a7',    // color for data at index 0
            '#f28e2b',   // color for data at index 1
        ],
        }]
    },
    // Configuration options go here
    options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: { display: false },
        scales: {

        xAxes: [{
                gridLines: {
                    color: "rgba(0, 0, 0, 0)",
                },
                ticks: {
                fontSize: 10,
                suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                // OR //
                beginAtZero: true   // minimum value will be 0.
                }
            }],
        yAxes: [{
            display: true,
            gridLines: {
                    color: "rgba(0, 0, 0, 0)",
                },
            ticks: {
                suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                // OR //
                beginAtZero: true   // minimum value will be 0.
            }
        }]
    }
    }
});







</script>


<script>
var ecx = document.getElementById('ecountChart').getContext('2d');
var ecountChart = new Chart(ecx, {
    // The type of chart we want to create
    type: 'bar',
    // The data for our dataset
    data: {
        labels: [{% for key, value in e_count_dict.items %}
                    "{{key}}",
                {% endfor %}],
        datasets: [{
            data: [{% for key, value in e_count_dict.items %}
                    "{{value}}",
                   {% endfor %}],
            backgroundColor: [
            '#2b5b89','#356899', '#5789b6', '#7bb0d5', '#89bddc', '#90c3df', '#98c8e2', '#9ccae3', '#9ccae3'
            //...
        ],
        }]
    },
    // Configuration options go here
    options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: { display: false },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
             xAxes: [{
                gridLines: {
                    color: "rgba(0, 0, 0, 0)",
                }
            }],
        yAxes: [{
            display: true,
            gridLines: {
                    color: "rgba(0, 0, 0, 0)",
                },
            ticks: {
                suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                // OR //
                beginAtZero: true   // minimum value will be 0.
            }
        }]
    }
    }
});









</script>

{% endblock %}
