{% extends "base.html" %} {% load staticfiles %}
{% block extrahead %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet"/>
{% endblock %}
{% load bootstrap_tags %}
{% block content %}
{% block row_header %}
<div class="row row-message">
  {% if messages %}
  {% for message in messages %}
  {% if message.tags == "success" %}
  <div class="alert alert-success">
    <div class="messages text-center">
      {{ message }}
    </div>
  </div>
  {% else %}
  <div class="alert alert-danger">
    <div class="messages text-center">
      {{ message }}
    </div>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
</div>

{% endblock %}
<div class="form-container">

  <div class="user-profile">
    <div class="row plain-element">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 plain-element col-background">

      </div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 text-center col-profile">
        <div class="row plain-element">
          <div class="portrait">
            {% if my_profile.image %}
            <img src="{{ my_profile.image.url }}" class="img responsive img-portrait">
            {% else %}
            <img src="{% static 'img/portraits/default.jpg' %}" class="img-responsive img-portrait">
            {% endif %}
          </div>
        </div>
        <div class="row plain-element">
           <h5>{{ user.name }}<span class="flex"> <button class="btn-edit" onclick="window.location='{% url 'user:edit_profile' %}'">Edit</button></span>

        </div>
        <div class="row plain-element">
          <h6> Email: <b>{{ my_profile.owner }}</b></h6>
        </div>
        <div class="row plain-element">
          <h6> Position: <b>{{ my_profile.position }}</b></h6>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- /container -->


{% endblock %}
