/*------------------------------------------------------------------------------
    DATA STYLES
------------------------------------------------------------------------------*/

body {
    background-image: none;
}



#page-index {
    padding-top: 0px;
}

.dashboard-cards {
    border: none;
    text-align: center;
    box-shadow: none;
    min-height: 600px;
    display: block;
    overflow: auto;
    width: 90%;
    margin: auto;
}

.row-cards {
    width: 75%;
    text-align: center;
    padding: 0% 0% 4% 0%;
}

.row-title {
    width: 70%;
    margin: auto;
    text-align: left;
}


.row-title h3 {
    font-size: 30px;
    font-weight: 600;
    color: black;
    font-family: 'Raleway';
}

.row-title p {
    color: #868e96;
    font-size: 12px;

}



.icon {
    width: auto;
    height: 18px;

}

.box {
   display: flex;
   align-items:center;
   margin-bottom: 10px;
}

.box span {
    margin-left: 5px;
}

table {
    background-color: white;
    border-radius: 5px;
    margin-left: 0px;
}



.details-table tr {
    margin-right: 20px;
}

.fixed-action-btn {
right: 300px;
}

/*------------------------------------------------------------------------------
    CARDS
------------------------------------------------------------------------------*/

.insights-card {
    box-shadow: 0 3px 3px 0 #A9A9A9, 0 3px 1px -2px #838383, 0 1px 5px 0 #838383;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    float: none;
    border-radius: 5px;
    font-size: 14px;
}

.insights-card:hover {
    box-shadow: 0 3px 3px 0 #2d4b65, 0 3px 2px -2px #2d4b65, 0 2px 5px 0 #2d4b65;
}

.insights-card .card-top {
    padding: 1% 3% 1% 3%;
    color: rgba(0,0,0,.9);
    border-bottom: 1px solid rgba(0,0,0,.15);

}

.insights-card .card-top i {
    font-size: 16px;
}


.insights-card .card-header {
   display: flex;
   align-items:left;
   padding: 6px 8px 6px 8px;
   height: 48px;
   width: 100%;
}


.insights-card .card-header b {
    font-size: 0.9rem;
    color: black;
    font-weight: 600
}

.insights-card .card-header p {
    margin-left: 5px;
    margin-top: 2px;
    font-size: 0.7rem;
    color: #666666;
    line-height: 1.2;
    width:75%;
}

.insights-card .row-comment {
    padding: 3px 8px 3px 8px;
    margin-bottom: 10px;
    color: color: rgba(0,0,0,.75);
}

.insights-card  .row-image {
    margin-bottom: 0px;
    padding: 3px 8px 3px 8px;
}

.card .card-content .card-title {
    color: #2d4b65;
    font-weight: 600;
}

.card .card-content {
    min-height: 155px;


}

.card .card-content p {
    color: black;
    font-size: 12px;
    min-height: 50px;
}

.card .card-title {
    font-size: 1.4rem;
}


.card .card-content {
    padding: 16px;
    padding-top: 0px;
    text-align: left;
    font-family: 'Raleway';
    font-size: 12px;

}

.card .card-content h5 {
    margin-top: 5px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.4rem;

}


.chart {
    border-radius: 5px;
    padding: 10px;
    min-height: 350px;
    padding: 2px;

}


.chart-small {
    border-radius: 5px;
    padding: 10px;
    height: 165px;
    padding: 2px;
}

.company-card {
    margin-bottom: 25px;;
}

.company-card .card-header {
    width: 100%;
}

.company-card .card-image {
    width: 100% !important;
    height: 100% !important;
}


.company-card h5 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #003f67;
    height: 35px;
}

.company-card .card-title {
    padding-left: 3%;
    width: 100%;


}

.company-card p {
    font-size: 12px !important;
}

.company-card .card-content {
    min-height: 150px;
    word-wrap: break-word;
}

.company-card .card-content p {
    height: 70px;
}

.company_website {
    color: #0073b1;
    margin-left: 10px;
}



/*------------------------------------------------------------------------------
    FORMS
------------------------------------------------------------------------------*/

textarea.materialize-textarea:focus:not([readonly])  + label {
    color: #165d81;
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #165d81;
    -webkit-box-shadow: 0 1px 0 0 #165d81;
    box-shadow: 0 1px 0 0 #165d81;

}


.form-signin {
    max-width: 60%;
    padding: 40px 0px 0px 0px;
}

.form-signin h6 {
    font-size: 1rem;
}

.form-signin p {
    display: none;
}


.property_input {
    margin-top: 30px;
    margin-bottom: 0px;
    padding-right: 60px !important;
 }

 .property_input input {
     text-align: center;
 }


/*------------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------*/

.btn-enter {
    height: 100%;
    width: 100%;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    box-shadow: none;
    border:none;
    color: #003f67;
}

.btn-enter i {
    font-size: 16px;
}

.btn-enter:hover,
.btn-enter:focus,
.btn-enter:active {
    background-color: transparent;
    color: #2d6d91;
}


.arrow {
    color: white;
}

.btn-scraper {
    background: transparent;
    box-shadow: none;
    border: none;
    color: #83ab41;
    margin-right: 24px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    padding: 0px;
    font-family: 'Roboto';
}

.btn-scraper:hover, .btn-scraper:active, .btn-scraper:focus {
    color: #6d8f36;
    background: transparent;
    box-shadow: none;
    border: none;
 }

 .phase-negative {
    color: red !important;

 }

 .link {
    color: #4267b2 !important;

 }

 .link:hover, .link:active,  .link:focus {
    color: #23527c !important;
 }

.btn-algorithm {
    border-radius: 10px;
    margin-left: 40px;
    height: 24px;
    width: auto;
    background: #4e79a7;
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 6px;
    color: white;
}

.btn-algorithm:hover,
.btn-algorithm:focus,
.btn-algorithm:active {
    color: white;
    background: #f28e2b;
}

/*------------------------------------------------------------------------------
    TABLES
------------------------------------------------------------------------------*/

.table-established {
    height: 530px;
}


.table-established td,
.table-established tr {
    border: 1px solid transparent;
    padding-left: 2px !important;
}

.table-established th {
    padding-left: 2px !important;
}

.table-long {
    margin-bottom: 26px;
}

.table-company {
    border: none;
    font-size: 0.9rem;

}

.table > tbody > tr > td,
.table-company tr,
.table-company td {
    border: none;
}


.table > tbody > tr >td  {
    padding-left: 0px;
    padding-top: 0px;

}

.table-company b {
    font-weight: 600;
    color: #003f67;
}


/*------------------------------------------------------------------------------
    STATISTICS
------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/


@media(max-width:1700px) {


    .row-cards {
    width: 100%;
    }

    .fixed-action-btn {
    right: 80px;
    }


}


@media(max-width:1025px) {

    .dashboard-cards {
        width: 100%;
    }

    .company-card {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }

    .company-card h5 {
        height: 20px
    }


    .card .card-image img {
        height: 100% !important;
    }

    .col-lg-4 {
        width: 100% ;
    }


    .tableau_card {
        overflow: auto;
    }

    .btn-algorithm {
        margin-left: 10px;
        height: 24px;
        font-size: 12px;
        padding: 0px 6px 0px 6px;
        line-height: 24px;
        margin-top: 6px;
        color: white;
    }

    .skillset-image {
        display:none;
    }

     .form-signin {
    max-width: 100%;
    }
}


@media(max-width:520px) {

    .row-title,
    .row-cards {
        width: 100%;
    }
    .company-card {
    width: 100%
    }


    .insights-card {
        font-size: 12px;
    }


    .company-card .card-content p {
    height: 90px;
    }

    .fixed-action-btn {
        display: none;
    }



}

@media(max-width:375px) {
    .btn-algorithm {
        margin-left: 5px;
        height: 24px;
        font-size: 10px;
        padding: 0px 6px 0px 6px;
        line-height: 24px;
        margin-top: 6px;
        color: white;
    }
}


