/*------------------------------------------------------------------------------
    TOP NAVBAR
------------------------------------------------------------------------------*/
.navbar {
	border-radius: 0px;
}

.nav i {
  height: auto;
}

strong {
    font-weight: 600;
}

.navbar-header a {
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 40px;
	margin-top: 0px;
	display: block;
	color: #ffffff;

}

.top-navbar {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 300;
	border: none;
	height: 40px;
	min-height: 40px;
  padding-left: 15%;
  padding-right: 15%;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
  background-color: #003f67;
  box-shadow: none;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}

.navbar-brand .material-icons {
	color: #1a2026;
}

.navbar-brand > img {
  display: inline !important;
}



/*------------------------------------------------------------------------------
    LEFT-SIDE HEADER AREA
------------------------------------------------------------------------------*/


.top-navbar .navbar-brand {
	margin: 0px;
	height: 40px;
	float: left;
	text-align: left;
	padding: 0px;
	font-weight: 500;
	color: #ffffff;
	background: transparent;
	text-transform: uppercase;
}

.navbar-header {
	width: 200px;
	margin-left: 0px;
	float: left;
}

.navbar-brand  .material-icons, .navbar-brand .fab {
  float: left;
  font-size: 18px;
  margin-right: 5px;
  margin-top: 6px;
  height: auto;
  background: #0077b5;
  padding: 3px 3px 3px 3px;
  color: white;
  font-weight: normal;
}
.navbar-header:hover,
.navbar-header:focus {
	background: transparent;
	color: #003252;
}


.navbar-header a:hover {
	text-decoration: none !important;
}


.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	background-color: transparent;
	outline: 0px;
}

.navbar-default .navbar-brand:hover {
	color: #ffffff;
}

.navbar-default .navbar-brand:hover .navbar-default .navbar-brand:focus {
	color: #e5ebef;
}


.img-logo {
	height: 28px;
	vertical-align:middle

}

/*------------------------------------------------------------------------------
    RIGHT SIDE LINKS
------------------------------------------------------------------------------*/

.nav > li > a {
  padding: 0px;
}

nav ul a {
 font-size: 12px;
 letter-spacing: 0.6px;
 color: #ffffff;
 text-transform: uppercase;
 padding: 0px;
}

.nav-link {
	height: 100% !important;
	margin: 14px 0px 12px 24px;
	padding: 0px;
}

.nav i,
.nav i.material-icons {
	font-size: 12px;
	margin-right: 6px;

	position: relative;
}


.top-navbar .navbar-right {
	width: auto;
	height: 40px;
	margin: 0px;
	line-height: 1;
	padding: 0px;
	color: #ffffff;
	float: right !important;
}

.top-navbar .navbar-right>a {
	padding: 0px;
	letter-spacing: 1px;
	font-size: 15px;
}

.top-navbar .navbar-right>a>i {
	margin-right: 5px;
	font-size: 16px;
	height: 40px;
}


.navbar-right>a:hover,
.navbar-right>a:focus {
	text-decoration: none;
	outline: 0px;
}


nav ul a:hover {
	background-color: #fff;
	color: #ffffff;
}

nav ul li:hover,
nav ul li:active {
	background: transparent;
	color: #ffffff;
}


.nav>li>a:hover,
.nav>li>a:focus,
.nav>li>a:active {
	background-color: transparent;
	color: #ffffff;
}

.navbar-right>a:hover,
.navbar-right>a:focus {
	background: transparent;
	color: #e5ebef;
}



.nav-button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  letter-spacing: 0.6px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0px 0px 0px 20px;
  height: 14px;
	margin: 13px 0px;
  background: none !important;
  border: none;
  cursor: pointer;
}


/*------------------------------------------------------------------------------
    DROPDOWN
------------------------------------------------------------------------------*/


.drop-content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.5s linear;
  position: relative;
  background-color: #003f67;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 20px;
  top: -2px;
}


.drop-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.drop-content a:hover {
  background-color: #ffffff;
  color: #003f67;
}



.dropdown:hover .drop-content {
  visibility: visible;
  opacity: 1;
}


/*------------------------------------------------------------------------------
    HAMBURGER
------------------------------------------------------------------------------*/


.topnav {
  display: none;
  overflow: hidden;
  background-color: #003f67;
  position: relative;

}

.topnav .fab {
  margin-top: 0px !important;
}


.topnav #myLinks {
  display: none;
}


.topnav a {
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.topnav .nav-button {
  font-size: 16px;
  text-align: left;
  width: 100%;
  margin: 0px;
  padding: 14px 16px;
  height: auto;
}

.topnav .nav-button:hover {
  color: #ffffff;
}


.topnav a.icon {
  background-color: #003f67;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 12px !important;
}

.topnav a:hover {
  color: #ffffff;
}

.topnav .navbar-brand {
  padding: 12px !important;
}


.topnav .active {
  background-color: #ffffff;
  color: #003f67;
}



/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/

@media(max-width:1700px) {
	.top-navbar {
		padding-left: 1.3%;
		padding-right: 1.3%;
	}
	.navbar-header {
		width: 30%;
	}
}

@media(max-width:1400px) {



@media(max-width:1025px) {

	.nav>li>a {
		padding-right: 0px;
	}

	.navbar-header {
		width: 30%;
	}
}

@media only screen and (max-width: 601px) {

  .navbar {
    display: none;
  }
  .topnav {
    display: block;
  }

  .topnav .navbar-brand {
      width: 30%;
  }



}


