{% extends "base.html" %} {% load staticfiles %}
{% load i18n %}
{% block extrahead %}
<link href="{% static 'css/data.css' %}" rel="stylesheet"/>
{% endblock %}
{% load bootstrap_tags %} {% block content %}
{% block row_header %}
<div class="row header transparent header-small">

</div>
<div class="row row-message">
    {% if messages %} {% for message in messages %} {% if message.tags == "success" %}
    <div class="alert alert-success">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% endif %} {% endfor %}
    {% else %}

    {% endif %}
</div>
{% endblock %}
<div class="dashboard-cards">
    <div class="row row-cards">
        <div class="col-md-4">
            <div class="card menu-card">
                <div class="card-top">
                    <i class="fas fa-chart-bar"></i> {% trans "Financial Sector" %}
                </div>
                <div class="card-header">
                    <img src="{% static 'img/portrait.png' %}" class="img-responsive">
                    <p><b>{% trans "Lukasz Malucha" %}</b> <br>Python Developer</p>
                    <div class="dots">
                        &#9642;
                        &#9642;
                        &#9642;
                    </div>
                </div>
                <div class="card-content">
                    <div class="row row-comment">
                        {% trans "Visualizing" %} <b>{% trans "Financial Companies" %}</b> {% trans "located in Ireland" %}
                    </div>

                    <div class="row row-image">
                        <img src="{% static 'img/finance.jpg' %}" class="img-responsive">
                    </div>
                    <button onclick="window.location='{% url 'insights:companies' sector='finance' %}'" type="submit" class="btn btn-enter"><span>{% trans "Continue" %} <i
                            class="far fa-arrow-alt-circle-right"></i></span></button>
                </div>
                <div class="card-bottom">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card menu-card">
                <div class="card-top">
                    <i class="fa fa-laptop"></i> {% trans "IT Sector" %}
                </div>
                <div class="card-header">
                    <img src="{% static 'img/portrait.png' %}" class="img-responsive">
                    <p><b>{% trans "Lukasz Malucha" %}</b> <br>Python Developer</p>
                    <div class="dots">
                        &#9642;
                        &#9642;
                        &#9642;
                    </div>
                </div>
                <div class="card-content">
                    <div class="row row-comment">
                        {% trans "Visualizing" %} <b>{% trans "IT Companies" %}</b> {% trans "located in Ireland" %}
                    </div>

                    <div class="row row-image">
                        <img src="{% static 'img/it.jpg' %}" class="img-responsive">
                    </div>
                    <button onclick="window.location='{% url 'insights:companies' sector='it' %}'" type="submit" class="btn btn-enter"><span>{% trans "Continue" %} <i
                            class="far fa-arrow-alt-circle-right"></i></span></button>
                </div>
                <div class="card-bottom">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card menu-card">
                <div class="card-top">
                    <i class="fa fa-graduation-cap"></i> {% trans "Educational Institutions" %}
                </div>
                <div class="card-header">
                    <img src="{% static 'img/portrait.png' %}" class="img-responsive">
                    <p><b>{% trans "Lukasz Malucha" %}</b> <br>{% trans "Python Developer" %}</p>
                    <div class="dots">
                        &#9642;
                        &#9642;
                        &#9642;
                    </div>
                </div>
                <div class="card-content">
                    <div class="row row-comment">
                        {% trans "Visualizing" %} <b>{% trans "Educational Institutions" %}</b> {% trans "located in Ireland" %}
                    </div>

                    <div class="row row-image">
                        <img src="{% static 'img/college.jpg' %}" class="img-responsive">
                    </div>
                    <button onclick="window.location='{% url 'insights:companies' sector='education' %}'" type="submit" class="btn btn-enter"><span>{% trans "Continue" %} <i
                            class="far fa-arrow-alt-circle-right"></i></span></button>
                </div>
                <div class="card-bottom">
                </div>
            </div>
        </div>
    </div>




</div>

{% endblock %}
