{% extends "base.html" %} {% load staticfiles %}
{% load static %}
{% load i18n %}
{% load rest_framework %}
{% block extrahead %}
<link href="{% static 'css/api.css' %}" rel="stylesheet"/>
<link href="{% static 'css/navbar.css' %}" rel="stylesheet"/>
{% endblock %}
{% load bootstrap_tags %}
{% block navbar %}
<nav class="navbar navbar-default top-navbar" role="navigation">
    <div class="navbar-header">
            <a class="navbar-brand waves-effect waves-dark" href="{% url 'dashboard:dashboard' %}"><i
                    class="fab fa-linkedin-in"></i><strong>LinkedIn Analytics</strong></a>
        </div>
    <ul class="nav navbar-nav pull-right">
        <li><a class="nav-link" href="{% url 'dashboard:rest' %}"><i class="fas fa-terminal"></i><b>REST Api</b></a>
        </li>
        <li><a class="nav-link" target="_blank" href="https://github.com/LukaszMalucha/Springboard-Insights"><i
                class="fab fa-github"></i> <b>GitHub</b></a></li>
        <li><a class="dropdown-button waves-effect waves-dark nav-link" id="user"><i class="fas fa-user"></i><b>
            {% block userlinks %}
            {% if user.is_authenticated %}

            {% optional_logout request user %}
            {% else %}
            {% optional_login request %}
            {% endif %}
            {% endblock %}
        </b></a></li>
    </ul>
</nav>
{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="row" style=" height:100px"></div>
    <div class="container text-center welcome">
        <div class="row">
            <h3>REST API Navigation</h3>
        </div>
        <br>
        <div class="row text-left view-row">
            <h5>User:</h5>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 text-center btn-col">
                <button onclick="window.location='{% url 'api:create' %}'" class="btn route"><b>Register</b></button>
            </div>
            <div class="col-md-6 col-lg-4 text-center btn-col">
                <button onclick="window.location='{% url 'api:authenticate' %}'" class="btn route"><b>Authenticate</b>
                </button>
            </div>
            <div class="col-md-6 col-lg-4 text-center btn-col">
                <button onclick="window.location='{% url 'api:my_account' %}'" class="btn route"><b>User Details</b>
                </button>
            </div>
        </div>
        <div class="row text-left view-row">
            <h5>Companies:</h5>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 text-center btn-col">
                <button onclick="window.location='{% url 'api:companies-list' %}'" class="btn route"><b>
                    Companies
                </b></button>
            </div>
        </div>

        <br>
    </div>
</div>
{% endblock %}

